Q: Which of the following is considered the most difficult in the software development process?
 
○ Accurately identifying user needs
Determining the accurate market price for the finished product
Testing the solution with users
Developing a Java program to meet the designed solution 

Q: What is a Requirements Specification?
 
○ Both
A process, how the requirements are written (specified)
A product, a written specification of the requirements
Neither 

Q: Based on the NASA statistics on budget and schedule overrun vs. time spent on requirements process, what is the recommended amount of time to spend on the requirements stage?
 
○ 5-10% of the total time spent on the project
0% of the total time spent on the project
20% of the total time spent on the project
The same amount as you expect to spend on testing. 

Q: Which of the following matches the terms to the correct definition?
 
○ Requirements - user needs in user language; Specification - solution properties designed to solve problem
Requirements - solution properties designed to solve problem; Specification - user needs in user language 

Q: Which of these is a user requirement?
 
○ Allow the user to post a message to Facebook
Allow an authorized user to post a message of no more than 136 characters to the Facebook POST API
Use the MariaDB database for internal data persistance
Retry posting the message up to 3 times every 5 minutes if the post is rejected by the server 

Q: Which of the following is NOT an example of a non-functional requirement.
 
○ The user shall be able to select the course number.
Communication between the client and server will be expressed in EBCDIC endoding.
The developing team shall use the spiral model of software development lifecycle.
The messages between the client and server shall be in YAML 1.2 format. 

Q: What element(s) of the WRSPM model belong in the interface (i.e. the overlap between environment and system)?
○ S
Q: What element(s) of the WRSPM model belong in the system (including the overlap between environment and system)?
○ S, P, M

Q: Which of these is proper definition of software architecture?
 
○ partitioning large systems into smaller ones that can be created seperately, have individual business value, and can be easily integrated
integrating small systems with no individual business value into larger ones
planning and pricing the resources involved with developing a large-scale software system, including presenting such plans and budgets to senior level executives for funding
all of the above 

Q: Which of the following models is best suited for a system with significant shared data that needs to be shared across a variety of components or sub-systems, somewhat like global variables, but with better data integrity?
 
○ blackboard
pipe-and-filter
event-based
client-server
layered 

Q: Which of the following models is best suited for a system that includes several subsets of functionality that are used in more than one area of the system?
 
○ pipe-and-filter 
layered
event-based
client-server
blackboard

Q: Which of the following models is best suited for a system that benefits from the separation of complexity and processing between work which can be done locally and that which should be completed on a shared, remote service?
 
○ client-server
pipe-and-filter
layered
blackboard
event-based 

Q: Which of the following would be considered a sub-system, rather than a module?
 
○ A set of classes which generates reports
A class which provides a service (e.g. AccountCreationService)
A class which represents the paying customer
A set of classes which convert various values based on environment or parameter information